<template lang="pug">
    object(type="image/svg+xml" :data='getIcon()').wf-icon
</template>

<style lang="stylus">
    .wf-icon
        height: 1.1em
        display: inline-block
        vertical-align: middle
</style>

<script>
export default {
    data() {
        return {
            icons: {
                madurai: require('../assets/Madurai_Pol.svg'),
                naramon: require('../assets/Naramon_Pol.svg'),
                vazarin: require('../assets/Vazarin_Pol.svg'),
                riven: require('../assets/riven-icon.svg')
            }
        }
    },
    props: ['icon'],
    methods: {
        getIcon() {
            return this.icons[this.icon.toLowerCase()]
        }
    }
}
</script>
