<template lang="pug">
v-container
    h5.display-2.pb-3 Frequently Asked Questions
    v-divider
    h6.display-1.mt-2 Are you an offical site from Digital Extremes?
    blockquote.mb-4 No, rivenmods.trade is not affiliated with Digital Extremes, instead it is
      |  a third party site made by fans of the game, trying to make trading easier.
    v-divider
    h6.display-1.mt-2 Why Sign Up?
    blockquote.mb-4 The search functionality works just fine without signing up, but in order to list
      | mods yourself, you will need an account. The Account management is securely provided
      | by auth0, and I will never have access to your passwords or warframe account.
    v-divider
    h6.display-1.mt-2 Why Verify Account?
    blockquote In order to list rivens, you need to verify your account so that we can check that you
      | are not just spamming fake listings.
</template>

<script>
export default {
  data(){
      return {

      }
  }
}
</script>
