<template lang="pug">
    div
        v-subheader Recent Mods
            v-spacer
            v-pagination(:length="rivens.length" v-model="rivenNum" circle)
        v-divider
        v-container(fluid grid-list-lg)
            v-layout(row wrap)
                wf-riven(:v-if="rivens.size > 0" transition="slide-x-transition" :riven="rivens[pos]")
</template>

<script>
    export default {
        data() {
            return {
                items: [
                    {
                        src: require('./assets/GrineerInterior1.jpg')
                    },
                    {
                        src: require('./assets/GrineerInterior2.jpg')
                    },
                    {
                        src: require('./assets/GrineerInterior3.jpg')
                    }
                ],
                rivens: [],
                pos: null,
                cycle: null,
                test: 0
            }
        },
        methods:{
            testToken: function() {
                this.$http.get('http://localhost:4567/api/testEndpoint', {headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }})
                console.log("Tested Token")
            },
            cycleRivens: function(){
                this.cycle = setInterval(function(){
                    if(this.pos == 4){
                        this.pos = 0
                    }
                    else if(this.pos >= 0){
                        this.pos = this.pos+1
                    }
                        
                }.bind(this), 10000)
            }
        },
        props:['authenticated'],
        created: function(){
            this.$http.get('http://localhost:4567/publicApi/rivens?limit=5').then(response => {
                this.rivens = response.body
            })
            this.cycleRivens()
            this.pos = 0
        },
        computed: {
            rivenNum:{
                get: function(){
                    return this.pos + 1
                },
                set: function(v){
                    this.pos = v - 1
                }
            }
        }
    }
</script>