<template lang="pug">
    v-app(:light="!dark" :dark="dark" toolbar)
        v-navigation-drawer(permanent clipped)#scrollbarStyle.modified-drawer
            search(@rivenSearch="setSearchQuery" :authenticated="authenticated" :profile="userProfile")
        v-toolbar(fixed)
            v-toolbar-title Riven Mods Trade
                wf-icon(icon="riven")
            v-spacer
            div
                v-switch(v-model="dark")
            v-btn(to="/home" icon flat).ml-3
                v-icon home
            v-btn(flat v-on:click="login()" v-if="!authenticated")
                |Login
            profile-menu(@online="goOnline" v-if="authenticated" :logout="logout" :profile="userProfile")
        main.modified-body
            v-container(fluid)
                router-view(:auth="auth" :authenticated="authenticated" :profile="userProfile" :rivenSearch="searchQuery")
        v-footer
            v-spacer
            v-btn(flat to="/faq") FAQ
            div © {{ new Date().getFullYear() }}
</template>

<style lang="stylus">
    @import './stylus/main'

    .scollbar
        background-color: #F5F5F5
        float: left 
        height: 300px
        margin-bottom: 25px
        margin-left: 22px
        margin-top: 40px
        width: 65px
        overflow scroll
    
    .force-overflow
        min-height: 450px

    #scrollbarStyle
        &::-webkit-scrollbar
            width 6px
            background-color: #f5f5f5
        &::-webkit-scrollbar-thumb
            background-color #9e9e9e
        &::-webkit-scrollbar-track
            -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
            background-color: #F5F5F5

</style>

<script>
import AuthServ from './Auth/AuthService.js'

const auth = new AuthServ();

const { login, logout, authenticated, authNotifier } = auth


export default {
    data() {
        authNotifier.on('authChange', authState => {
            this.authenticated = authState.authenticated
            if (this.authenticated) {
                const self = this
                this.auth.auth0.client.userInfo(localStorage.access_token, function(err, user) {
                    if (err)
                        console.log(err)
                    self.userProfile = user
                    localStorage.setItem("user_profile", JSON.stringify(user))
                })
            } else {
                this.userProfile = {}
                localStorage.clear('user_profile')
            }
        })
        return {
            auth,
            authenticated,
            drawer: null,
            right: null,
            dark: this.getDarkMode(),
            userProfile: this.userProfileSetter(),
            searchQuery: null
        }
    },
    methods: {
        login,
        logout,
        userProfileSetter: function() {
            if (this.authenticated) {
                userP = {}
                this.auth.auth0.client.userInfo(localStorage.access_token, function(err, user) {
                    if (err)
                        console.log(err)
                    userP = user
                })
                return userP;
            } else if (localStorage.user_profile) {
                return JSON.parse(localStorage.user_profile)
            } else {
                return {}
            }
        },
        getDarkMode: function() {
            if (localStorage.dark_mode)
                return JSON.parse(localStorage.dark_mode)
            return false
        },
        setSearchQuery(query){
            console.log(query)
            this.searchQuery = query
            this.$router.push("/rivens")
        },
        goOnline(payload){
            if(payload){
                this.$http.post("http://localhost:4567/api/goOnline",
                this.userProfile["https://rivenmods.trade/app_metadata"].wfname,
                {
                    headers: {'Authorization': 'Bearer ' + localStorage.getItem('access_token')}
                })
            }else{
                this.$http.post("http://localhost:4567/api/goOffline",
                this.userProfile["https://rivenmods.trade/app_metadata"].wfname,
                {
                    headers: {'Authorization': 'Bearer ' + localStorage.getItem('access_token')}
                })
            }

        }
    },
    watch: {
        dark: function(val, oldVal) {
            if (val != oldVal) {
                localStorage.setItem("dark_mode", val)
            }
        }
    }
}
</script>
