<template lang="pug">
    v-menu(:close-on-content-click="false" v-model="menu")
        v-btn(slot="activator" icon v-badge="{value: '!', left: true, visible: !wfVerified, overlap: true}").red--after
            v-avatar(size="36px")
                img(v-if="profile.picture" :src="profile.picture" alt="avatar")
                v-icon(v-if="!profile.picture") account_circle
        v-card
            v-list
                v-list-tile(avatar)
                    v-list-tile-avatar
                        v-avatar
                            img(v-if="profile.picture" :src="profile.picture" alt="avatar")
                            v-icon(v-if="!profile.picture") account_circle
                    v-list-tile-content
                        v-list-tile-title {{username}}
                        v-list-tile-sub-title {{userclass}} User  
                    v-list-tile-action
                        v-btn(icon v-on:click="logout").red--text
                            v-icon exit_to_app
            v-list
                v-list-tile
                    v-btn(to="/profile" v-badge="{value: '!', overlap:true, visible: !wfVerified}").red--after Profile
            v-list
                v-list-tile
                    v-list-tile-action
                        v-switch(v-model="online" color="green")
                    v-list-tile-title Online
            v-card-actions
                v-spacer
                v-btn(@click="menu=false" flat) Close
</template>

<script>
export default {
    data()  {
      return{
        menu: false,
        online: false,
      }
    },
    props: ['logout', 'profile'],
    computed: {
        username: function(){
            return this.profile.nickname || 'username'
        },
        userclass: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            if(metadata && metadata.prime)
                return "Prime"
            return "Regular"
        },
        wfVerified: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            return metadata && metadata.wfverified
        }
    },
    methods: {
        emitOnline: function(){
            this.$emit("online", this.online)
        },
        checkOnline: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            this.$http.get("http://localhost:4567/publicApi/online", {
                params: {
                    name: metadata.wfname
                }
            }).then(response =>
                this.online = response.body
            )
        }
    },
    watch:{
        "online": "emitOnline",
        "profile": "checkOnline"
    },
    created: function(){
        if(this.profile){
            this.checkOnline()
        }
        
    }
}
</script>
