<template lang="pug">
div
    v-subheader Your Listings
        v-spacer
        v-btn(@click="getRivens" flat)
            v-icon refresh
    v-divider
    div.elevation-2
        v-container(fluid grid-list-lg)
            v-layout(row wrap)
                wf-riven(v-for="riven in rivens" :key="riven._id['$oid']" :riven="riven" @reloadRivens="getRivens")
    v-subheader Verification
    v-stepper(v-model="e1")
        v-stepper-header
            v-stepper-step(step="1" :complete="e1 > 1 || wfVerified") Link your Warframe Profile
            v-divider
            v-stepper-step(step="2" :complete="e1 > 2 || wfVerified") Verify Profile
            v-divider
            v-stepper-step(step="3" :complete="e1 > 2 ||wfVerified") Done
        v-stepper-content(step="1")
            v-card
                v-card-title
                    div.headline Link your Warframe Account
                v-card-media
                    v-container
                        |To link your warframe account, first we need a link to your profile at the 
                        a(href="https://forums.warframe.com/" target="_blank") warframe forums
                        ol
                            li Log in to the warframe forums
                            li Click your user name
                            li Click about me
                            li Copy the page address into the field below
                        v-text-field(label="Profile Link" v-model="profLink")
                v-card-actions
                    v-btn(primary @click.native="getHash" :disabled="profLink==null") Continue
        v-stepper-content(step="2")
            v-card
                v-card-title
                    div.headline Edit your Profile
                v-card-media
                    v-container
                        |We now need you to edit your profile with the code you generated
                        ol
                            li Click Edit Profile
                            li Paste this in the about me section of your profile 
                            li If a message comes up saying that you are pasting as rich text, click paste as plain text instead.
                                div
                                    code {{pasteCode}}
                                    v-btn(flat v-clipboard="pasteCode" @click.native="copiedBar = true")
                                        v-icon content_copy
                                        |Copy to clip board
                        v-snackbar(:timeout=5000 success=true v-model="copiedBar")
                v-card-actions
                    v-btn(primary @click.native="verifyProfile" :loading="loading" :disabled="loading") Verify
        v-stepper-content(step="3")
            v-card
                v-card-title
                    div.headline Verification Complete
                v-card-media
                    v-container
                        div(v-if="relog")
                            p Congratulations, you are now linked with the warframe account {{warframeName}}
                            p To Finish the process, you will need to log out and log back in again. 
                                | This process will be started automatically in {{seconds}} seconds, or by pressing the
                                | link below
                            div 
                                v-progress-circular(indeterminate).purple--text
                            v-btn(flat @click.native="relogFun") Relog Now
                        div(v-else)
                            p You are currently linked with warframe account {{warframeName}}

</template>

<script>
export default {
  data(){
      return {
          e1: 0,
          profLink: null,
          hashCode: null,
          warframeName: null,
          relog: null,
          loading: null,
          seconds: null,
          countdown: null,
          copiedBar: false,
          timeout: 5000,
          rivens: []
      }
  },
  methods: {
        getHash(){
            this.$http.post('http://localhost:4567/api/getHash', this.profLink, {headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                }}).then(response => {
                    this.hashCode = response.body
                    this.e1 = 2
                })
        },
        verifyProfile(){
            this.loading = true
            var verificationRequest = {
                hashCode: this.hashCode,
                profLink: this.profLink
            }
            this.$http.post('http://localhost:4567/api/verifyWarframeAccount', verificationRequest, {headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('access_token')
            }}).then(response => {
                this.warframeName = response.body
                this.e1 = 3
                this.relog = true
                this.seconds = 20
                console.log("Starting interval")
                this.countdown = setInterval(function(){
                    if(this.seconds > 0){
                        this.seconds = this.seconds - 1
                    }
                    if(this.seconds == 0){
                        clearInterval(this.countdown)
                        this.relogFun()
                    }
                        
                }.bind(this), 1000)
            })
        },
        relogFun(){
            this.auth.logout()
            this.auth.login()
        },
        getRivens(){
            var body = {sub: this.profile.sub}
            this.$http.post("http://localhost:4567/publicApi/rivens", body)
                .then(response =>{
                    this.rivens = response.body.results
                })
        }
  },
  computed: {
        pasteCode() {
          return "[i]rtv=" + this.hashCode+"[/i]"
        },
        wfVerified: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            return metadata && metadata.wfverified
        },
        wfName: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            if(metadata && metadata.wfname)
                return metadata.wfname
            else
                null
        }
        
    },
    props:['auth', 'profile'],
    created: function(){
        if(this.wfVerified)
            this.e1 = 3
        if(this.wfName)
            this.warframeName = this.wfName
        this.getRivens()
    }
}
</script>