<template lang="pug">
    v-container(fluid grid-list-md)
        v-form(v-model="valid" ref="form")
            v-subheader Weapon
            v-divider
            v-layout(row)
                v-flex(xs12)
                    v-select(label='Riven Type' v-bind:items='rivenTypes' autocomplete v-model='rivenType' required
                        :rules="[(v) => !!v || 'A Riven Type is required']")
            v-layout(row)
                v-flex(xs12)
                    v-select(label='Weapon' v-bind:items='weaponsList' autocomplete v-bind:disabled="rivenTypes === null" v-model='weaponChoice'
                        :rules="[(v) => !!v || 'A Weapon is required']" required)
            v-layout(row)
                v-flex(xs12)
                    v-text-field(label="Name" v-model="rivenName" :required="listing")
            v-subheader Properties
            v-divider
            v-layout(row v-for="query, index in queryProps" v-bind:key="index")
                v-flex(xs4)
                    v-text-field(label="Value" v-model='query.value' type="number" :required="listing"
                        :rules="[(v) => !!v || 'To list a riven each property must have a value']")
                v-flex(xs6)
                    v-select(label="Property" v-bind:items='propertiesList' autocomplete v-model='query.property' :required="listing"
                        :rules="[(v) => !!v || 'To list a riven at least one property is required']")
                v-flex(xs2)
                    v-btn(icon flat block v-on:click="deleteQuery(index)" v-bind:disabled="queryProps.length < 3")
                        v-icon delete
            v-layout(row)
                v-flex(xs2 offset-xs9)
                    v-btn(icon flat v-on:click="addQuery" v-if="queryProps.length < 4")
                        v-icon add
            v-subheader Other
            v-divider
            v-layout(row)
                v-flex(xs12)
                    v-text-field(label="Price" v-model="price" type="number" :required="listing"
                        :rules="[(v) => !!v || 'To List a riven please specify a price']")
            v-layout(row)
                v-flex(xs12)
                    v-select(label='Polarity' v-bind:items='polarities' v-model="polarity" :required="listing"
                        :rules="[(v) => !!v || 'To list a riven it\\'s polarity is required']")
                        template(slot="selection" scope="data")
                            v-avatar
                                wf-icon(:icon="data.item")
                            |{{data.item}}
                        template(slot="item" scope="data")
                            v-list-tile-avatar
                                v-avatar
                                    wf-icon(:icon="data.item")
                            v-list-tile-content
                                |{{data.item}}
            v-layout(row)
                v-flex(xs8)
                    v-slider(label='MR' v-bind:min='8' v-bind:max='16' v-model='masteryRank')
                v-flex(xs3 offset-xs1)
                    v-text-field( v-model='masteryRank' type="number" :required="listing")
            v-layout(row)
                v-flex(xs8)
                    v-slider(label='Rank' v-bind:min='0' v-bind:max='8' v-model='rank')
                v-flex(xs3 offset-xs1)
                    v-text-field( v-model='rank' type="number" :required="listing")
            v-layout(row)
                v-flex(xs12)
                    v-text-field(label='Cycled' type="number" min="0" step="1" v-model="cycles" :required="listing"
                        :rules="[(v) => !!v || 'To list a riven it\\'s cycling count is required']")
            v-layout(row)
                v-flex(xs6)
                    div(v-tooltip:right="{ html: 'Please Login', visible: !authenticated}")
                        v-btn(:disabled="!authenticated" v-on:click="listRiven") List
                v-flex(xs6)
                    v-btn(v-on:click="submit")
                        v-icon search
                        | Search
</template>

<script>
export default {
    data() {
        return {
            properties: [
                'Damage vs. Corpus', 'Damage vs. Grineer', 'Damage vs. Infested', 'Cold Damage',
                'Critical Chance', 'Critical Damage', 'Electric Damage', 'Fire Damage', 'Impact Damage',
                'Poison Damage', 'Puncture Damage', 'Slash Damage', 'Status Chance', 'Status Duration'
            ],
            meleeProperties: [
                'Channeling Damage', 'Channeling Effciency', 'Combo Duration', 'Critical Chance on Slide Attack',
                'Melee Damage', 'Finisher Damage', 'Attack Speed', 'Range'
            ],
            gunProperties: [
                'Ammo Maximum', 'Base Damage', 'Fire Rate', 'Flight Speed', 'Magazine Capacity', 'Multishot', 'Punch Through',
                'Reload Speed', 'Recoil', 'Zoom'
            ],
            rivenType: null,
            rivenTypes: [
                'Primary',
                'Shotgun',
                'Pistol',
                'Melee'
            ],
            polarities: [
                'Madurai',
                'Vazarin',
                'Naramon'
            ],
            queryProps: [
                {
                    value: null,
                    property: null
                },
                {
                    value: null,
                    property: null
                }
            ],
            masteryRank: 0,
            primaryList: [
                "Amprex", "Attica", "Boltor", "Braton", "Burston", "Buzlok",
                "Cernos", "Daikyu", "Dera", "Dread", "Ferrox", "Flux Rifle",
                "Glaxion", "Gorgon", "Grakata", "Grinlock", "Harpak", "Hema",
                "Hind", "Ignis", "Javlok", "Karak", "Kohm", "Lanka", "Latron",
                "Lenz", "Miter", "Mutalist Cernos", "Mutalist Quanta", "Ogris",
                "Opticor", "Panthera", "Paracyst", "Paris", "Penta", "Quanta",
                "Rubico", "Scourge", "Simulor", "Sinpetron", "Sobek", "Soma",
                "Stradavar", "Supra", "Sybaris", "Synapse", "Tenora", "Tetra",
                "Tiberon", "Tonkor", "Torid", "Vectis", "Vulkar", "Zarr",
                "Zenith", "Zhuge"
            ],
            shotgunList: [
                "Acra Plasmor", "Boar", "Convectrix", "Drakgoon", "Kohm", "Hek",
                "Phage", "Strun", "Sobek", "Sweeper", "Tigris"
            ],
            secondaryList: [
                "Acrid", "Afuris", "Akbolto", "Akbronco", "Akjagara", "Aklato",
                "Aklex", "Akmagnus", "Aksomati", "Akstiletto", "Akvasto",
                "Akzani", "Angstrum", "Arca Scisco", "Atomos", "Azima",
                "Ballistica", "Bolto", "Brakk", "Bronco", "Castanas",
                "Cestra", "Cycron", "Despair", "Detron", "Dex Furis",
                "Dual Cestra", "Dual Toxocyst", "Embolist", "Euphona Prime",
                "Furis", "Gammacor", "Hikou", "Knell", "Kohmak", "Kraken",
                "Kulstar", "Kunai", "Lato", "Lex", "Magnus", "Marelok", "Nukor",
                "Pandero", "Pox", "Pyrana", "Seer", "Sicarus", "Sonicor", "Spectra",
                "Spira", "Staticor", "Stug", "Talons", "Twin Grakatas", "Twin Gremlins",
                "Twin Kohmak", "Twin Rogga", "Twin Vipers", "Tysis", "Vasto", "Viper",
                "Zakti"
            ],
            meleeList: [
                "Ack & Brunt", "Ampris", "Anku", "Ankyros", "Acra Titron",
                "Arcata", "Atterax", "Bo", "Boltace", "Broken Scepter",
                "Broken War", "Caustacyst", "Ceramic Dagger", "Cerata",
                "Cronus", "Dakra Prime", "Dark Dagger", "Dark Split-Sword",
                "Dark Sword", "Destreza", "Dex Dakra", "Dragon Nikana",
                "Dual Cleavers", "Dual Ether", "Dual Heat Swords",
                "Dual Ichor", "Dual Kamas", "Dual Raza", "Dual Skana",
                "Dual Zoren", "Endura", "Ether Daggers", "Ether Reaper",
                "Ether Sword", "Fang", "Fragor", "Furax", "Galatine",
                "Gazal Machete", "Glaive", "Gram", "Guandao", "Halikar", "Hate",
                "Heat Dagger", "Heat Sword", "Heliocor", "Hirudo", "Jat Kittag",
                "Jat Kusar", "Jaw Sword", "Kama", "Karyst", "Kesheg", "Kestrel",
                "Kogake", "Kronen", "Lacera", "Lecta", "Lesion", "Machete",
                "Magistar", "Mios", "Mire", "Nami Skyla", "Nami Solo", "Nikana",
                "Ninkondi", "Obex", "Ohma", "Okina", "Orthos", "Orvius",
                "Pangolin Sword", "Plasma Sword", "Prova", "Reaper Prime",
                "Redeemer", "Ripkas", "Sarpa", "Scindo", "Scoliac", "Serro",
                "Shaku", "Sheev", "Sibear", "Silva & Aegis", "Skana", "Sydon",
                "Tekko", "Tipedo", "Tonbo", "Twin Basolk", "Venka", "War",
                "Zenistar"
            ],
            weaponChoice: null,
            valid: false,
            polarity: null,
            cycles: null,
            listing: false,
            price: null,
            rank: 0,
            rivenName: null,
            rivenSearch: null
        }
    },
    methods: {
        addQuery: function() {
            this.queryProps.push({ value: null, property: null })
        },
        deleteQuery: function(i) {
            this.queryProps.splice(i, 1)
        },
        submit() {
            if(true){
                this.rivenSearch = {
                    type: this.rivenType,
                    weapon: this.weaponChoice,
                    mods: this.queryProps.filter(function(prop){
                        return prop.property != null
                    }),
                    polarity: this.polarity,
                    masteryRank: parseInt(this.masteryRank),
                    cycles: parseInt(this.cycles),
                    price: parseInt(this.price),
                    rank: parseInt(this.rank),
                    name: this.rivenName
                }
                var rivenMod = this.rivenSearch
                this.$emit("rivenSearch", {rivenMod})
            }
            
        },
        listRiven() {
            this.listing = true
            if (this.$refs.form.validate()) {
                var rivenMod = {
                    type: this.rivenType,
                    weapon: this.weaponChoice,
                    mods: this.queryProps,
                    polarity: this.polarity,
                    masteryRank: parseInt(this.masteryRank),
                    cycles: parseInt(this.cycles),
                    price: parseInt(this.price),
                    rank: parseInt(this.rank),
                    name: this.rivenName
                }
                var rivenUser = {
                    userClass: this.userclass,
                    wfname: this.wfName
                }
                var rivenRequest = {
                    rivenMod: rivenMod,
                    rivenUser: rivenUser
                }
                console.log(JSON.stringify(rivenRequest))
                this.$http.post('http://localhost:4567/api/listRiven', rivenRequest, 
                    {
                        headers: {'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                    }
                })
            }
            this.listing = false
        }
    },
    computed: {
        propertiesList: function() {
            return this.properties.concat(this.rivenType === 'Melee' ? this.meleeProperties : this.gunProperties)
        },
        weaponsList: function() {
            switch (this.rivenType) {
                case "Primary":
                    return this.primaryList
                case "Shotgun":
                    return this.shotgunList
                case "Pistol":
                    return this.secondaryList
                case "Melee":
                    return this.meleeList
                default:
                    return []
            }
        },
        userclass: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            if(metadata && metadata.prime)
                return "Prime"
            return "Regular"
        },
        wfName: function(){
            var metadata = this.profile["https://rivenmods.trade/app_metadata"]
            if(metadata && metadata.wfname)
                return metadata.wfname
            else
                null
        }
    },
    props: ["authenticated", "profile"],
    watch: {
        rivenType: function(val, oldVal) {
            if (val != oldVal) {
                this.weaponChoice = null
            }
        }
    }
}
</script>