<template lang="pug">
div
    v-subheader Found {{totalResults}} Results
        v-spacer
        v-btn( flat)
    v-divider
    v-container(fluid grid-list-lg)
        v-layout(row wrap)
            wf-riven(v-for="riven in rivens" :key="riven._id['$oid']" :riven="riven")
</template>

<script>
export default {
    data : function(){
        return {
            rivens: [],
            totalResults: 0
        }
    },
    methods:{
        fetchData(){
            this.$http.post('http://localhost:4567/publicApi/rivens', this.rivenSearch).then(response => {
                this.rivens = response.body.results
                this.totalResults = response.body.totalResults
            })
        }
    },
    props:['rivenSearch'],
    created () {
        // fetch the data when the view is created and the data is
        // already being observed
        this.fetchData()
    },
    watch: {
        // call again the method if the route changes
        '$route': 'fetchData',
        "rivenSearch": 'fetchData'
  }
}
</script>
