<template lang="pug">
v-flex(v-if="riven" xs12)
  v-card()
    v-card-title(primary-title)
        div
            div.headline {{riven.riven.weapon}} {{riven.riven.name}}
                wf-icon(:icon="riven.riven.polarity")
            div {{riven.riven.price}} Plat by 
                v-chip(:class="{green: online, red: !online}").white--text {{riven.user.wfName}}
                v-spacer(v-if="canDelete")
                    v-btn(outline icon @click="deleteRiven").red--text
                        v-icon delete
    v-card-text
        v-divider
        v-layout(row)
            v-flex(xs6)
                v-subheader Properties
                ul
                    li(v-for="mod, index in riven.riven.mods" :key="index" :class="redText(mod)") {{mod.value}} % {{mod.property}}
            v-flex(xs6)
                v-layout()
                    v-flex(xs4)
                        p Cycled: {{riven.riven.cycles}}
                    v-flex(xs4)
                        p Mastery Rank: {{riven.riven.masteryRank}}
                    v-flex(xs4)
                        p Rank: {{riven.riven.rank}}
    v-card-actions
        v-btn(flat v-clipboard="paste" @click.native="snackbar = true")
            v-icon.pr-1 content_copy
            | Message Seller
    v-snackbar(:timeout="5000" bottom=true v-model="snackbar")
      |Copied text to clipboard
      v-btn(flat @click.native="snackbar = false") Close
</template>

<script>
export default {
  data(){
      return {
        snackbar: false,
        online: false,
        canDelete: this.$route.name === "Profile"
      }
  },
  props:['riven'],
  methods:{
        redText(mod){
            if(mod.value < 0)
                return "red--text"
            return ""
        },
        paste: function(){
            var user = this.riven.user.wfName
            var riven = this.riven.riven
            return "/w " + user +" Hello " + user + "! I would like to buy your "
                 + riven.weapon + " " + riven.name + " riven for " + riven.price + " :plat:"
        },
        getOnline(){
            if(this.riven)
                this.$http.get("http://localhost:4567/publicApi/online", {
                    params: {
                        name: this.riven.user.wfName
                    }
                }).then(response =>
                    this.online = response.body
                )
        },
        deleteRiven(){
            if(this.riven)
                this.$http.delete("http://localhost:4567/api/listRiven", {
                    params: {
                        id: this.riven._id.$oid
                    },
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                    }
                }).then(response =>
                    this.$emit("reloadRivens")
                )
        }
    },
    created: function(){
        this.getOnline()
    },
    watch:{
        "riven": "getOnline"
    }
}
</script>
