<template lang="pug">
    div
        v-progress-circular(indeterminate).brown--text
</template>


<script>
    export default {
        name: 'callback',
        props: ['auth'],
        data() {
            this.auth.handleAuthentication()
            return {}
        }
    }
</script>
