/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

$navigation-drawer-width = 400px

html
    overflow-y: auto

.modified-drawer
    width: $navigation-drawer-width

.modified-body
    padding-left: $navigation-drawer-width !important